* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-3 {
    padding: 12px 24px;
}

.a-header-3 {
    color: black !important;
    border-left: 1px solid black !important;
}

.a-header-3:hover {
    color: #5624d0 !important;
    text-decoration: none !important;
}

.btn-header-3 {
    padding: 13px 16px;
    border: 1px solid black;
    text-decoration: none;
}
.udemy-business-text{
    color: black;
}
.udemy-business-text:hover{
    background-color: black;
    color: white;
}
.browse-udemy-courses-text{
    color: white;
    background-color: black;
}
.browse-udemy-courses-text:hover{
    background-color: #393b3f;
}