* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --gray: #1C1D1F;
    --light-gray: #6A6F73;
    --gray86: #D1D7DC;
    --gray100: #F0F2F4;
    --gray-wild-sand: #F3F3F3;
    --gray-alto: #D9D9D9;
    --gray-silver: #B7B7B7;
    --gray-silver-chalice: #999999;
    --gray-mine-shaft: #434343;
    --purple: #A435F0;
    --teal: #72D8BA;
    --dark-teal: #199FA3;
    --yellow: #E9E729;
    --blue: #5022C3;
    --red: #F4522D;
    --teal-green-light: #6AC1D0;
    --teal-green-lighter: #C3E6EC;
    --indigo: #5624D0;
    --indigo200: #B7A9E5;
    --color-gray-600: #101112;
    --color-gray-550: #1c1d1f;
    --color-gray-500: #2d2f31;
    --color-gray-400: #3e4143;
    --color-gray-300: #6a6f73;
    --color-gray-250: #9da3a7;
    --color-gray-200: #d1d7dc;
    --color-gray-150: #e4e8eb;
    --color-gray-100: #f7f9fa;
    --color-red-500: #612012;
    --color-red-400: #b32d0f;
    --color-red-300: #f4522d;
    --color-red-250: #ef8e70;
    --color-red-200: #fcbca0;
    --color-red-150: #fbd5c4;
    --color-red-100: #fbece9;
    --color-blue-500: #180a3d;
    --color-blue-400: #371783;
    --color-blue-300: #5624d0;
    --color-blue-250: #8072e6;
    --color-blue-200: #c0c4fc;
    --color-blue-150: #d8e0fb;
    --color-blue-100: #eeeffc;
    --color-indigo-500: var(--color-blue-500);
    --color-indigo-400: var(--color-blue-400);
    --color-indigo-300: var(--color-blue-300);
    --color-indigo-200: var(--color-blue-200);
    --color-indigo-100: var(--color-blue-100);
    --color-orange-500: #4d3105;
    --color-orange-400: #b4690e;
    --color-orange-300: #f69c08;
    --color-orange-250: #ebb152;
    --color-orange-200: #f3ca8c;
    --color-orange-150: #f7dfba;
    --color-orange-100: #fcf5e8;
    --color-yellow-500: #3d3c0a;
    --color-yellow-400: #98961b;
    --color-yellow-300: #e9e729;
    --color-yellow-250: #eeec5d;
    --color-yellow-200: #eceb98;
    --color-yellow-150: #f3f2b8;
    --color-yellow-100: #f9f9d7;
    --color-green-500: #113731;
    --color-green-400: #1e6055;
    --color-green-300: #19a38c;
    --color-green-250: #6cb1a5;
    --color-green-200: #acd2cc;
    --color-green-150: #cfe4e1;
    --color-green-100: #f2f7f6;
    --color-purple-500: #350c50;
    --color-purple-400: #7325a3;
    --color-purple-300: #a435f0;
    --color-purple-250: #c377f6;
    --color-purple-200: #e1b8fc;
    --color-purple-150: #ebd3fc;
    --color-purple-100: #f6eefc;
    --color-white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

.solid-border {
    border: 1px solid black;
}

/* Header section */
.nav-bar {
    width: 100%;
    padding: 0 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    height: 72px;
    z-index: 1000;
}

.nav-bar .ul-normal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .ul-normal li {
    cursor: pointer;
}

.nav-bar .ul-normal li a {
    color: black;
}

.nav-bar .ul-normal li a:hover {
    color: blue;
}

.nav-bar .ul-normal li .category-container {
    position: relative;
    display: inline-block;
}

.nav-bar .ul-normal li .category-container a {
    text-decoration: none;
}

.nav-bar .ul-normal li .category-container:hover .category-list-section {
    display: block;
}

.nav-bar .ul-normal li .category-container .category-list-section {
    display: none;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: 24px;
}

.nav-bar .ul-normal li .search-box {
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    padding: 6px 12px;
    margin: 10px 0;
}

.nav-bar .ul-normal li .search-box .search-icon {
    cursor: not-allowed;
    opacity: 0.5;
    margin-right: 12px;
}

.nav-bar .ul-normal li .search-box input {
    border: transparent;
    outline: none;
}

.nav-bar .ul-normal li .login {
    border: 1px solid black;
    padding: 6px 12px;
    font-weight: 600;
    text-decoration: none;
}

.nav-bar .ul-normal li .login:hover {
    color: black;
}

.nav-bar .ul-normal li .signup {
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 6px 12px;
    border: 1px solid black;
}

.nav-bar .ul-normal li .signup:hover {
    color: white;
}

.nav-bar .ul-normal li .globe {
    padding: 5px 10px;
    font-weight: 700;
    border: 1px solid black;
}

.nav-bar .ul-800 {
    display: none;
}

.li-udemy-bussiness a {
    text-decoration: none;
}

@media screen and (max-width:1080px) {
    .nav-bar .ul-normal .li-udemy-bussiness {
        display: none;
    }
}

@media screen and (max-width:920px) {
    .nav-bar .ul-normal .li-teach-on-udemy {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .nav-bar {
        height: 56px;
    }

    .nav-bar .ul-normal {
        display: none;
    }

    .nav-bar .ul-800 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar .ul-800 li {
        cursor: pointer;
        margin: 10px 0;
    }

    .nav-bar .ul-800 li .menu {
        height: 40px;
        height: 40px;
    }

    .nav-bar .ul-800 li .search-cart-container div {
        display: inline-block;
    }

    .nav-bar .ul-800 li .search-cart-container .search {
        margin-right: 1.2rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* main section */
/* banner section here */
.banner {
    width: 100%;
    height: auto;
}

.banner .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: auto;
}

.banner .swiper .swiper-wrapper .swiper-slide .popup {
    position: absolute;
    width: 500px;
    padding: 20px;
    z-index: 1000;
    top: 50px;
    left: 70px;
    background-color: white;
}

.banner .swiper .swiper-wrapper .swiper-slide .popup .pop-btn {
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 8px;
}

.banner .swiper .swiper-wrapper .swiper-slide .popup .pop-btn:hover {
    background-color: #39393a;
    cursor: pointer;
}

.banner .swiper .swiper-button-prev,
.banner .swiper .swiper-button-next {
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 50%;
    height: 20px;
}

.banner .swiper .swiper-button-prev:hover,
.banner .swiper .swiper-button-next:hover {
    background-color: #39393a;
}

@media screen and (max-width:980px) {
    .banner .swiper .swiper-wrapper .swiper-slide .popup {
        width: 450px;
        padding: 15px;
        z-index: 1000;
        top: 20px;
        left: 60px;
        background-color: white;
    }
}

@media screen and (max-width:700px) {
    .banner .swiper .swiper-wrapper .swiper-slide .popup {
        position: static;
        padding: 24px;
        width: 100%;
    }

    .banner .swiper .swiper-wrapper .swiper-slide .popup .pop-btn {
        display: inline-block;
        background-color: black;
        color: white;
        font-weight: 600;
        padding: 8px;
    }

    .banner .swiper .swiper-wrapper .swiper-slide .popup .pop-btn:hover {
        background-color: #39393a;
        cursor: pointer;
    }

    .banner .swiper .swiper-button-prev,
    .banner .swiper .swiper-button-next {
        display: none;
    }
}


/* partner-imgs */
.partners {
    width: 100%;
    margin: 100px 0;
    padding: 0 24px;
}

.partners .partner-text {
    text-align: center;
    font-size: 19px;
}

.partners .partner-imgs {
    max-width: 100%;
    padding: 12px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: space-around;
}

@media screen and (max-width:980px) {
    .partners .partner-imgs {
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 12px;
        justify-content: space-around;
    }
}


/* A broad selection of courses */
.broad-section-of-courses {
    margin: 100px 0;
}

.broad-section-of-courses .bsc-main-container {
    padding: 0 24px;
}

.broad-section-of-courses .bsc-main-container h1 {
    margin-bottom: 12px;
}

.broad-section-of-courses .bsc-main-container p {
    margin-bottom: 24px;
}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul .bsc-ul-list-item a {
    display: block;
    text-align: center;
    padding: 6px 12px;
    color: #6a6f73;
    font-weight: 700;
}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul .bsc-ul-list-item a:hover {
    cursor: pointer;
    color: #2d2f31;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 24px;
}

.a-btn {
    padding: 12px;
    font-weight: 700;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

.a-btn:hover {
    background-color: rgba(23, 57, 83, .12);
}

.slider-container {
    margin-top: 48px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-container .card,
.learners-viewing-container .main-card-container .card {
    flex: 19%;
    width: 19%;
    margin-right: 1%;
    position: relative;
}

.slider-container .card:hover,
.learners-viewing-container .main-card-container .card:hover {
    cursor: pointer;
}

.slider-container .card .card-img-top:hover {
    opacity: 0.5;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card:hover .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card:hover .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card:hover .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card:hover .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card:hover .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card:hover .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card:hover .main-model-1 {
    display: block;
}

.course-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text .course-instructor {
    font-size: 12px;
}

.card-text .course-rating-section .course-rating {
    font-size: 14px;
    font-weight: 700;
}

.card-text .course-price-section .course-regular-price {
    font-weight: 700;
}

.card-text .course-price-section .course-discount-price {
    font-weight: 700;
}

.card-text .course-badge {
    background-color: yellow;
    padding: 2px 5px;
    font-weight: 500;
    width: fit-content;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card .main-model-1,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card .main-model-1 {
    display: none;
    z-index: 1000;
    padding: 24px;
    top: -100px;
    left: 108%;
    background-color: white;
    position: absolute;
    width: 150%;
    border: 1px solid black;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 ul,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card .main-model-1 ul,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card .main-model-1 ul,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card .main-model-1 ul,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card .main-model-1 ul,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card .main-model-1 ul,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card .main-model-1 ul {
    list-style-type: '\2713';
    list-style-position: outside;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 ul li,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card .main-model-1 ul li,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card .main-model-1 ul li,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card .main-model-1 ul li,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card .main-model-1 ul li,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card .main-model-1 ul li,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card .main-model-1 ul li {
    padding: 0 0 0 24px;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 .add-heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card .main-model-1 .add-heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card .main-model-1 .add-heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card .main-model-1 .add-heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card .main-model-1 .add-heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card .main-model-1 .add-heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card .main-model-1 .add-heart {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 .add-heart .add,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card .main-model-1 .add-heart .add,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card .main-model-1 .add-heart .add,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card .main-model-1 .add-heart .add,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card .main-model-1 .add-heart .add,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card .main-model-1 .add-heart .add,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card .main-model-1 .add-heart .add {
    padding: 12px 48px;
    background-color: #A435F0;
    color: white;
    font-weight: 600;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 .add-heart .heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .excel-container .slider-container .card .main-model-1 .add-heart .heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .web-development-container .slider-container .card .main-model-1 .add-heart .heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .javascript-container .slider-container .card .main-model-1 .add-heart .heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .data-science-container .slider-container .card .main-model-1 .add-heart .heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .amazon-aws-container .slider-container .card .main-model-1 .add-heart .heart,
.broad-section-of-courses .bsc-main-container .bsc-sub-container .drawing-container .slider-container .card .main-model-1 .add-heart .heart {
    padding: 12px;
    border: 1px solid black;
    border-radius: 50%;
}

@media screen and (max-width:1200px) {

    .slider-container .card-5,
    .main-card-container .card-5 {
        display: none;
    }
}

@media screen and (max-width:980px) {

    .slider-container .card-4,
    .main-card-container .card-4 {
        display: none;
    }
}

@media screen and (max-width:700px) {

    .slider-container .card-3,
    .main-card-container .card-3 {
        display: none;
    }
}

@media screen and (max-width:600px) {

    .slider-container .card-2,
    .main-card-container .card-2 {
        display: none;
    }
}

/* feedback section */
.feedback-section {
    margin: 100px 0;
    padding: 0 24px;
}

.feedback-section .main-card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-section .main-card-container .card-container {
    width: 32.5%;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 24px;
}

.feedback-section .main-card-container .card-container .text-section {
    border-bottom: 1px solid black;
    padding-bottom: 24px;
}

.feedback-section .main-card-container .card-container .text-section img {
    margin-bottom: 12px;
}

.feedback-section .main-card-container .card-container .text-section .text-by .short-text {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.feedback-section .main-card-container .card-container .video-text-section {
    padding-top: 24px;
    color: blue;
}

.feedback-section .main-card-container .card-container .video-text-section div {
    display: inline;
}

.feedback-section .main-card-container .card-container .video-text-section span {
    font-weight: 600;
}

@media screen and (max-width:856px) {
    .feedback-section .main-card-container .card-container {
        width: 49.5%;
    }

    .user-review-card-3 {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .feedback-section .main-card-container {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .feedback-section .main-card-container .card-container {
        width: 100%;
        margin-bottom: 16px;
    }

    .user-review-card-3 {
        display: block;
    }

    .user-review-card-2 {
        display: block;
    }
}


/* Learners are viewing */
.learners-viewing-container {
    margin: 100px 0px;
    padding: 24px;
}

/* .learners-viewing-container h3 {
    margin-bottom: 24px;
} */

.learners-viewing-container .main-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learners-viewing-container .main-card-container .card:hover .main-model-1 {
    display: block;
}

.learners-viewing-container .main-card-container .card .main-model-1 {
    display: none;
    z-index: 1000;
    padding: 24px;
    top: -100px;
    left: 108%;
    background-color: white;
    position: absolute;
    width: 150%;
    border: 1px solid black;
}

.learners-viewing-container .main-card-container .card .main-model-1 ul {
    list-style-type: '\2713';
    list-style-position: outside;
}

.learners-viewing-container .main-card-container .card .main-model-1 ul li {
    padding: 0 0 0 24px;
}

.learners-viewing-container .main-card-container .card .main-model-1 .add-heart {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.learners-viewing-container .main-card-container .card .main-model-1 .add-heart .add {
    padding: 12px 48px;
    background-color: #A435F0;
    color: white;
    font-weight: 600;
}

.learners-viewing-container .main-card-container .card .main-model-1 .add-heart .heart {
    padding: 12px;
    border: 1px solid black;
    border-radius: 50%;
}


/* Top categories */
.top-categories-container {
    margin: 100px 0;
    width: 100%;
    padding: 0 24px;
}

.top-categories-container h3 {
    margin-bottom: 24px;
}

.top-categories-container .top-categories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.top-categories-container .top-categories .single-category:hover {
    cursor: pointer;
}

.top-categories-container .top-categories .single-category img {
    max-width: 100%;
    max-height: 100%;
    transition: transform .2s;
}

.top-categories-container .top-categories .single-category img:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.top-categories-container .top-categories .single-category .category-title {
    margin-bottom: 12px;
}

@media screen and (max-width:700px) {
    .top-categories-container .top-categories {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }
}

@media screen and (max-width:600px) {
    .top-categories-container .top-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .top-categories-container .top-categories .single-category img {
        display: none;
    }

    .top-categories-container .top-categories .single-category .category-title {
        border-radius: 20px;
        border: 1px solid black;
        padding: 5px 10px;
    }
}


/* Featured topics by category */
.topics-by-category {
    width: 100%;
    margin: 100px 0;
    padding: 0 24px;
}

.topics-by-category h3 {
    margin-bottom: 24px;
}

.topics-by-category .row .col-3 ul {
    margin: 0;
    padding: 0;
}

.topics-by-category .row .col-3 ul li {
    margin-bottom: 24px;
}

.topics-by-category .row .col-3 ul li div span {
    display: block;
}

.topics-by-category .row .col-3 ul li div a {
    font-weight: 700;
    color: #5624d0;
}

.topics-by-category .row .col-3 ul li div a:hover {
    color: #401b9c;
}

.topics-by-category .btn-explore-section {
    margin-top: 12px;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black;
}

.topics-by-category .btn-explore-section .btn-explore:hover {
    background-color: rgba(23, 57, 83, .12);
}

@media only screen and (max-width: 600px) {
    .topics-by-category .row .col-3 {
        width: 50%;
    }

    .topics-by-category .btn-explore-section {
        margin-top: 12px;
        display: block;
        text-align: center;
        border: 1px solid black;
        padding: 12px;
        cursor: pointer;
    }
}


/* bussiness section */
.udemy-bussiness {
    width: 100%;
    margin: 100px 0;
    padding: 0 24px;
}

.udemy-bussiness .main-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.udemy-bussiness .main-container .text-container {
    padding: 0;
}

.udemy-bussiness .main-container .text-container img,
.udemy-bussiness .main-container .text-container h2,
.udemy-bussiness .main-container .text-container ul,
.udemy-bussiness .main-container .text-container ul li {
    margin-bottom: 12px;
}


.udemy-bussiness .main-container .text-container ul li {
    list-style-position: outside;
    font-size: 19px;
}

.udemy-bussiness .main-container .text-container .getudemy-learnmore {
    display: inline-block;
    margin-top: 24px;
}

.udemy-bussiness .main-container .text-container .getudemy-learnmore span {
    padding: 12px;
    font-weight: 700;
    border: 1px solid black;
}

.udemy-bussiness .main-container .text-container .getudemy-learnmore span:hover {
    cursor: pointer;
}


.udemy-bussiness .main-container .text-container .getudemy-learnmore .get-udemy {
    color: white;
    background-color: black;
}

.udemy-bussiness .main-container .text-container .getudemy-learnmore .get-udemy:hover {
    background-color: #3e4143;
}

.udemy-bussiness .main-container .text-container .getudemy-learnmore .learn-more:hover {
    background-color: rgba(23, 57, 83, .12);
}

@media screen and (max-width: 980px) {
    .udemy-bussiness .main-container {
        display: grid;
        grid-template-columns: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .udemy-bussiness .main-container .text-container {
        grid-row: 2;
        margin-top: 24px;
        padding: 0;
    }

    .udemy-bussiness .main-container .text-container img {
        margin: 0 auto;
    }

    .udemy-bussiness .main-container .image-container {
        grid-row: 1;
        width: 100%;
        height: 100%;
    }

    .udemy-bussiness .main-container .image-container img {
        margin: 0 auto;
    }

    .udemy-bussiness .main-container .text-container .getudemy-learnmore {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        text-align: center;
    }
}


/* stories section */
.stories-container {
    width: 100%;
    margin: 100px 0;
    padding: 0 20%;
}

.stories-container .swiper {
    border: 1px solid black;
    height: 320px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide {
    padding: 24px;
    height: 320px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .text-section img {
    margin-bottom: 12px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .text-section a {
    font-weight: 700;
    color: #5624d0;
    position: absolute;
    bottom: 24px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .text-section a:hover {
    cursor: pointer;
    color: #A435F0;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .image-section {
    text-align: center;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .image-section img {
    border-radius: 50%;
    margin-bottom: 24px;
}

.stories-container .view-more-stories {
    text-align: center;
    font-weight: 700;
    margin-top: 24px;
    color: #5624d0;
}

.stories-container .view-more-stories a {
    color: #5624d0;
}

.stories-container .view-more-stories:hover,
.stories-container .view-more-stories a:hover {
    color: #A435F0;
    cursor: pointer;
}


/*become a instrunctor*/
.instruction {
    width: 100%;
    margin: 100px 0;
}

.instruction .main-container {
    width: 62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.instruction .main-container .image-container {
    margin-right: 100px;
}

.instruction .main-container .text-container h2 {
    font-weight: 700;
}

.instruction .main-container .text-container p {
    font-size: 19px;
    margin: 12px 0 24px 0;
}

.instruction .main-container .text-container .start-teaching-today {
    border: 1px solid black;
    padding: 12px;
    color: white;
    font-size: 19px;
    font-weight: 700;
    background-color: black;
    text-decoration: none;
}

.instruction .main-container .text-container .start-teaching-today:hover {
    background-color: #6a6f73;

}

@media screen and (max-width: 980px) {
    .instruction {
        width: 100%;
        margin: 100px 0;
    }

    .instruction .main-container {
        width: 100%;
        display: block;
        padding: 0 24px;
    }

    .instruction .main-container .image-container {
        width: 100%;
    }

    .instruction .main-container .image-container img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .instruction .main-container .text-container {
        width: 60%;
        text-align: center;
        margin: 24px auto;
    }
}

@media screen and (max-width: 600px) {
    .instruction .main-container .text-container {
        width: 100%;
    }

    .instruction .main-container .text-container .start-teaching-today {
        display: block;
        width: 100%;
    }
}


/* footer section */
footer {
    width: 100%;
}

.footer-section {
    background-color: black;
    width: 100%;
    padding: 24px 48px;
}

.footer-section .row-1,
.footer-section .row-2 {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-section .row-1 .column-1 ul,
.footer-section .row-1 .column-2 ul,
.footer-section .row-1 .column-3 ul {
    margin: 0;
    padding: 0;
}

.footer-section .row-1 .column-1 ul li,
.footer-section .row-1 .column-2 ul li,
.footer-section .row-1 .column-3 ul li {
    display: block;
}

.footer-section .row-1 .column-1 ul li:hover,
.footer-section .row-1 .column-2 ul li:hover,
.footer-section .row-1 .column-3 ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-section .row-1 .column-1 ul li a,
.footer-section .row-1 .column-2 ul li a,
.footer-section .row-1 .column-3 ul li a {
    text-decoration: none;
    color: white;
}

.footer-section .row-1 .column-4:hover {
    cursor: pointer;
}

.footer-section .row-1 .column-4 .column-container {
    border: 1px solid white;
    padding: 12px 48px 12px 12px;
}

.footer-section .row-1 .column-4 .column-container div {
    display: inline-block;
}

.footer-section .row-2 {
    margin-top: 24px;
}

.footer-section .row-2 .column-left:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    footer {
        width: 100%;
    }

    .footer-section {
        width: 100%;
        padding: 24px;
    }

    .footer-section .row-1,
    .footer-section .row-2 {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
    }

    .footer-section .row-1 .column-1,
    .footer-section .row-1 .column-2,
    .footer-section .row-1 .column-3,
    .footer-section .row-1 .column-4 {
        display: block;
    }

    .footer-section .row-1 .column-1 {
        order: 2;
    }

    .footer-section .row-1 .column-2 {
        order: 3;
    }

    .footer-section .row-1 .column-3 {
        order: 4;
    }

    .footer-section .row-1 .column-4 {
        order: 1;
    }

    .footer-section .row-1 .column-1 ul,
    .footer-section .row-1 .column-2 ul,
    .footer-section .row-1 .column-3 ul {
        margin: 0;
        padding: 0;
        /* list-style: none; */
    }

    .footer-section .row-1 .column-1 ul li,
    .footer-section .row-1 .column-2 ul li,
    .footer-section .row-1 .column-3 ul li {
        display: block;
        margin-bottom: 12px;
        width: fit-content;
    }

    .footer-section .row-1 .column-4 {
        width: fit-content;
    }

    .footer-section .row-1 .column-4 .column-container {
        padding: 6px 48px 6px 6px;
        margin-bottom: 24px;
    }

    .footer-section .row-2 .column-left {
        margin-bottom: 12px;
    }
}












/* why udemy bussiness page */
.wub-container {
    background-color: black;
    width: 100%;
    padding: 5%;
    color: var(--color-white);
}

.wub-container .row {
    margin: 0;
    padding: 0;
}

.wub-container .row h1 {
    font-size: 48px;
    font-family: SuisseWorks-Bold;
}

.wub-container .row h1 span {
    color: #A435F0;
}

.wub-container .row .explore-plans {
    background-color: #5624d0;
    color: var(--color-white);
}

.wub-container .row .explore-plans:hover {
    background-color: var(--color-purple-300);
    color: var(--white);
    border-color: var(--color-purple-300);
}

.wub-container .row .request-a-demo {
    background-color: var(--color-white);
    color: black;
}

.wub-container .row .request-a-demo:hover {
    background-color: var(--indigo);
    color: var(--white);
}

.wub-container .row a:hover {
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .wub-container {
        width: 100%;
        padding: 2%;
    }

    .wub-container .left-container {
        margin-bottom: 24px;
    }

    .wub-container iframe {
        width: 100%;
        max-height: 300px;
    }
}

@media screen and (max-width:320px) {
    .wub-container .a-container {
        display: grid;
        grid-template-rows: auto;
        gap: 12px;
        text-align: center;
    }
}

.common-btn {
    padding: 13px 11px;
    font-weight: 700;
    border-radius: 0;
}

.trusted-bussiness-container {
    width: 100%;
    padding: 5%;
}

.trusted-bussiness-container h5 {
    text-align: center;
}

.curated-learning-container {
    width: 100%;
    padding: 5%;
}

.curated-learning-container h2 {
    text-align: center;
    margin-bottom: 48px;
}

.trusted-bussiness-container .row,
.curated-learning-container .row,
.dedicated-customer-success-teams-container .row,
.enterprise-grade-platform-container .row,
.personalized-learning-container .row,
.get-instant-access-to-courses-container .row,
.like-what-you-see-container .row,
.so-many-reasons-to-start-container .row,
.how-to-begin-container .row,
.teaching-review-container .row,
.get-started-container-containter .row,
.market-place-container .row {
    padding: 0;
    margin: 0;
}

.drive-company-wide-learning-container,
.dedicated-customer-success-teams-container,
.enterprise-grade-platform-container,
.personalized-learning-container,
.get-instant-access-to-courses-container {
    width: 100%;
    padding: 5%;
}

.dedicated-customer-success-teams-container .right-container,
.enterprise-grade-platform-container .left-container,
.personalized-learning-container .right-container {
    padding: 100px 5%;
}

.right-container .learn-more,
.left-container .learn-more {
    color: var(--indigo);
}

.right-container .learn-more:hover a,
.left-container .learn-more:hover a {
    color: var(--purple);
    text-decoration: none;
}


.get-instant-access-to-courses-container .view-courses-section .view-courses {
    color: var(--indigo);
}

.get-instant-access-to-courses-container .view-courses-section .view-courses:hover {
    text-decoration: none;
    color: var(--purple);
}

.get-instant-access-to-courses-container .view-all-courses {
    background-color: var(--black);
    color: var(--white);
}

.get-instant-access-to-courses-container .view-all-courses:hover {
    text-decoration: none;
    background-color: var(--indigo);
}

.like-what-you-see-container {
    background-color: #f0f2f4;
    padding: 5% 20%;
}

.like-what-you-see-container .tour-the-platform-section .tour-the-platform {
    border: 1px solid var(--black);
    color: var(--black);
}

.like-what-you-see-container .tour-the-platform-section .tour-the-platform:hover {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .like-what-you-see-container {
        background-color: #f0f2f4;
        padding: 5%;
    }

    .like-what-you-see-container .left-container {
        margin-bottom: 16px;
    }
}

.color-purple {
    color: var(--color-purple-300);
}

.strategic-learning-partner-container {
    padding: 5% 20%;
    background-color: var(--color-purple-300);
}

.strategic-learning-partner-container h2 {
    color: var(--white);
    font-size: 40px;
    line-height: 50px;
}

.strategic-learning-partner-container h2 em {
    color: #E9E729;
}

.strategic-learning-partner-container .request-a-demo-today {
    background-color: var(--black);
    color: var(--white);
}

.strategic-learning-partner-container .request-a-demo-today:hover {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}


















/* teaching */
.come-teach-with-us-containter,
.come-teach-with-us-containter img {
    width: 100%;
}

.come-teach-with-us-containter .hero-banner-container {
    display: block;
}

.come-teach-with-us-containter .hero-banner {
    position: relative;
}

.come-teach-with-us-containter .small-image-container {
    display: none;
}

.come-teach-with-us-containter .hero-banner .hero-banner-text {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.come-teach-with-us-containter .hero-banner .hero-banner-text h1 {
    font-size: 40px;
    line-height: 48px;
}

.come-teach-with-us-containter .hero-banner .hero-banner-text a {
    /* display: block; */
    width: 100%;
}

@media screen and (max-width:1200px) {
    .hide-at-below-1200 {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .come-teach-with-us-containter .hero-banner-container {
        display: none;
    }

    .come-teach-with-us-containter .small-image-container {
        display: block;
    }

    .small-image-container .get-started {
        display: block;
    }

    .small-image-container .get-started:hover {
        display: block;
        text-decoration: none;
        background-color: var(--color-gray-400);
        color: var(--white);
    }

}

.so-many-reasons-to-start-container {
    padding: 0 36px;
}

.stats-container {
    background-color: var(--indigo);
    color: var(--white);
    padding: 5% 10%;
}

.stats-container h1 {
    font-size: 40px;
    line-height: 48px;
}

.how-to-begin-container {
    padding: 5% 15%;
}

.htb-list-container .htb-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.htb-list-container .htb-list .htb-list-item {
    padding: 10px 5px;
    cursor: pointer;
}

.htb-list-container .htb-list .htb-list-item .htb-list-item-a {
    color: var(--color-gray-300);
}

.htb-list-container .htb-list .htb-list-item:hover .htb-list-item-a {
    text-decoration: none;
    color: var(--black);
}

.teaching-review-container {
    padding: 5%;
}

.font-size-24 {
    font-size: 24px;
}

.professional-name {
    color: var(--color-gray-300);
}

.get-started-container-containter {
    margin: 200px 0;
}

.get-started-container-containter h1 {
    font-size: 40px;
    line-height: 48px;
}

.a-indigo {
    color: var(--color-blue-300);
    text-decoration-line: underline;
    text-decoration-color: var(--color-blue-300);
}

.a-indigo:hover {
    color: var(--purple);
    text-decoration-line: underline;
    text-decoration-color: var(--purple);
}

.become-an-instructor-today-container {
    margin: 5% 0;
}

a.get-started {
    color: var(--white);
    background-color: var(--black);
}

a.get-started:hover {
    text-decoration: none;
    background-color: var(--color-gray-400);
    color: var(--white);
}

/* get mobile page */
.mobile-main-container {
    position: relative;
}

.mobile-main-container .banner-img {
    position: absolute;
    z-index: -1;
}

.mobile-main-container .mobile-sub-containter {
    padding: 24px 60px;
}

.mobile-sub-containter .features-ul-list-containter {
    width: 40%;
}

ul.ul-list-style-circle {
    margin: 0;
    padding: 0;
    list-style: disc;
}

@media screen and (max-width:980px) {
    .mobile-sub-containter .features-ul-list-containter {
        width: 50%;
    }

    .ul-list-style-circle li span {
        font-size: 16px;
    }
}

@media screen and (max-width:700px) {
    .mobile-main-container {
        position: static;
    }

    .mobile-main-container .banner-img {
        position: static;
        /* z-index: -1; */
    }

    .mobile-sub-containter .features-ul-list-containter {
        width: 100%;
    }

    .mobile-sub-containter .google-apple-icon-container {
        display: flex;
        justify-content: center;
    }
}

/* about */
.nav-link,
.about-investors-container a {
    color: var(--black) !important;
}

.nav-link:hover,
.about-investors-container .active {
    color: #401b9c !important;
}

.about-investors-container a:hover {
    text-decoration: none;
}

.login-signup-container .nav-btn-login {
    border: 1px solid var(--black);
    padding: 10px 21px;
    color: var(--black);
}

.login-signup-container .nav-btn-login:hover {
    color: var(--white);
    text-decoration: none;
    border: none;
    background-color: var(--color-gray-300);
}

.login-signup-container .nav-btn-signup {
    color: var(--white);
    background-color: var(--black);

    padding: 10px 21px;
    border: 1px solid var(--black);
}

.login-signup-container .nav-btn-signup:hover {
    color: var(--white);
    background-color: var(--color-gray-300);

    text-decoration: none;

}

.about-banner-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-banner-container .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner-container .image-container img {
    max-height: 430px;
    width: 100%;
}

.latest-news-container {
    background-color: var(--color-purple-300);
    padding: 14px 0;
}

.latest-news-container .latest-news-text {
    color: var(--white);
}

.latest-news-container .latest-news-text:hover {
    text-decoration-thickness: 1px;
}

.learning-text .learning_desc {
    max-width: 80%;
    margin: 0 auto;
    font-size: 19px;
}

.market-place-container {
    width: 100%;
    padding: 0 5%;
    margin: 5% 0;
}

.reach-container {
    background-color: var(--indigo);
    color: var(--white);
    padding: 5% 0;
}

.reach-text-container .reach-desc {
    max-width: 70%;
    margin: 0 auto;
}

.reach-stats-container .reach-stats-content {
    flex: 1 22%;
    width: 22%;
    text-align: center;
}

.reach-stats-container .reach-stats-content h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
}

.quotes {
    margin: 5% 0;
}

.learn-more-btn {
    color: var(--white);
    background-color: var(--black);
}

.learn-more-btn:hover {
    color: var(--white);
    text-decoration: none;
    background-color: #3e4143;
}

.row {
    margin: 0;
    padding: 0;
}

.quote-p::before {
    content: '\275D \275E';
    position: absolute;
    top: -30px;
    font-size: 50px;
    color: var(--color-purple-300);
}

.quote-p {
    margin-top: 12px;
    font-size: 25px;
}

.quote-title {
    font-size: 14px;
}

.quote-link-text .quote-link-text-a {
    font-weight: 700;
    font-size: 17px;
    color: var(--color-blue-300);
}

.quote-link-text .quote-link-text-a:hover {
    color: var(--purple);
    text-decoration: none;
}

.logos-container {
    margin: 5% 0;
    padding: 0 5%;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    height: 20%;
    margin-bottom: 8px;
    width: 100px;
}

.logo-img img {
    max-width: 80%;
    height: 75%;
}

.wrb-container {
    margin: 5% 0;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1%;
}

.wrb-container a:hover {
    text-decoration: none;
}

/* .wrb-container .row{
    margin: 0;
    padding: 0;
} */
.wrb-work-container,
.wrb-research-container,
.wrb-blog-container {
    padding: 24px;
}

.wrb-work-container,
.wrb-work-container a,
.wrb-work-container a:hover {
    background-color: var(--color-purple-300);
    color: var(--white);
}

.wrb-research-container,
.wrb-research-container a,
.wrb-research-container a:hover {
    background-color: #dddb36;
    color: var(--black);
}

.wrb-blog-container,
.wrb-blog-container a,
.wrb-blog-container a:hover {
    background-color: #2d907f;
    color: var(--white);
}

p.wrb-work-desc,
p.wrb-research-desc,
p.wrb-blog-desc {
    font-size: 20px;
}

.footer-container-2 {
    background-color: var(--black);
    color: var(--white);
}

.footer-container-2 a,
.footer-container-2 a:hover {
    color: var(--white);
}

.footer-container-2 .row,
.footer-container-2 .col-4,
.footer-container-2 .col-6 {
    margin: 0;
    padding: 0;
}

.social-icons {
    border-bottom: 1px solid var(--white);
    padding: 24px;
}

.social-icons svg:hover {
    cursor: pointer;
}
.footer-container-2 .ul-language-container-above-768{
    display: block;
}
.footer-container-2 .ul-language-container-below-768{
    display: none;
}
.ul-language-container-above-768,
.ul-language-container-below-768{
    padding: 24px !important;
}

.footer-container-2 .world-language-container {
    width: fit-content;
    padding: 8px 11px;
    border: 1px solid var(--white);
    float: right;
    cursor: pointer;
}

.world-language-container:hover {
    color: rgb(207, 205, 205);
}

.logo-copyright-container {
    padding: 24px;
}

.logo-copyright-container .logo-container {
    width: 100px;
    /* height: 100px; */
}

.logo-copyright-container .logo-container:hover {
    cursor: pointer;
}

.navbar-2 {
    padding: 12px 36px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
}

@media screen and (max-width:800px) {
    .about-banner-container {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .about-banner-container .text-container {
        display: flex;
        justify-content: start;
        align-items: start;
        max-width: 463px;
        padding: 0;
        margin: 24px 0;
    }

    .about-banner-container .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-banner-container .image-container img {
        max-height: 260px;
        width: auto;
    }

    .learning-text .learning_desc {
        font-size: 16px;
    }

    .market-place-container .col-6 {
        width: 100% !important;
    }
}
@media screen and (max-width:767px){
    .footer-container-2 .ul-language-container-above-768 {
            display: none;
        }
    
        .footer-container-2 .ul-language-container-below-768 {
            display: block;
        }
}

/* company */
.company-banner-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.company-banner-container .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-banner-container .image-container img {
    max-height: 430px;
    width: 100%;
}

.our-origins,
.how-we-started,
.our-offices {
    margin: 5% 0;
    padding: 0 5%;
}

.our-origins-container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.our-origins-container p {
    font-size: 19px;
}

.how-we-started .row {
    margin: 0;
    padding: 0;
}

.our-offices .our-offices-text {
    font-weight: 700;
    text-align: center;
    margin: 5% 0;
    font-size: 40px;
    line-height: 48px;
}

.our-offices .our-offices-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 5% 2.5%;
}

.our-offices-container .city-name {
    font-size: 32px;
    padding: 12px 0;
    font-weight: 700;
}

.help-support {
    margin: 10% 0 5% 0;
    padding: 0 5%;
    text-align: center;
}

.help-support .help-support-text {
    color: var(--color-blue-300);
}

.help-support .help-support-text {
    text-decoration: none;
    color: #401b9c;
}
