* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --theme_color: #A435F0;
}


/* Header section */
nav {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    padding: 0 24px;
    z-index: 1000;
}

.nav-bar {
    width: 100%;
    height: 72px;
    background-color: #ffffff;
}

.nav-bar .normal-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar .ul-800 {
    display: none;
}

.nav-bar .normal-ul .normal-ul-list-item {
    display: inline-block;
    cursor: pointer;
    margin: 10px 0;
}

.nav-bar .normal-ul .normal-ul-list-item img {
    max-width: 100%;
    height: auto;
}

.nav-bar .normal-ul .normal-ul-list-item a {
    text-decoration: none;
    color: #2d2f31;
}

.nav-bar .normal-ul .normal-ul-list-item a:hover {
    color: blue;
}

.model-category {
    position: relative;
    display: inline-block;
}

.model-category .tool-tip-model-catergory {
    visibility: hidden;
    color: black;
    top: 50px;
    background-color: blue;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.model-category:hover .tool-tip-model-catergory {
    visibility: visible;
}

.search-box {
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
    width: 560px;
    padding: 10px;
}

.search-box .search-icon {
    cursor: not-allowed;
    opacity: 0.5;
    margin-right: 5px;
}

.search-box input {
    border: transparent;
    width: 500px;
    outline: none;
}

.btn-cart {
    padding: 6px 12px;
    font-weight: 600;
}

.btn-text {
    border: 1px solid black;
    padding: 6px 12px;
    font-weight: 600;
}

.btn-text-background:hover {
    background-color: lightblue;
}

.btn-text-signup {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 800px) {
    .ul-800 {
        display: block;
        justify-content: space-between;
    }

    .normal-ul {
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


























/* main section */


/* banner section here */
.banner {
    width: 100%;
    height: auto;
}

.banner .swiper {
    width: 100%;
    /* padding: 0 12px; */
}

.banner .swiper .swiper-wrapper {
    width: 100%;
}

.banner .swiper .swiper-wrapper .swiper-slide {
    max-width: 100%;
}

.banner .swiper .swiper-wrapper .swiper-slide .img {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.banner .swiper .swiper-wrapper .swiper-slide .popup {
    position: absolute;
    width: 500px;
    padding: 20px;
    z-index: 1000;
    top: 50px;
    left: 70px;
    background-color: white;
}

.banner .swiper .swiper-wrapper .swiper-slide .popup .pop-btn {
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 8px;
}

.banner .swiper .swiper-wrapper .swiper-slide .popup .pop-btn:hover {
    background-color: #39393a;
    cursor: pointer;
}

.banner .swiper .swiper-button-prev,
.banner .swiper .swiper-button-next {
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 50%;
    height: 20px;
}

.banner .swiper .swiper-button-prev:hover,
.banner .swiper .swiper-button-next:hover {
    background-color: #39393a;
}



























/* partner-imgs */
.partners {
    width: 100%;
    margin: 100px 0;
    padding: 0 24px;
}

.partners .partner-text {
    text-align: center;
    font-size: 19px;
}

.partners .partner-imgs {
    max-width: 100%;
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


























/* A broad selection of courses */
.broad-section-of-courses {
    width: 100%;
    margin: 100px 0;
}

.broad-section-of-courses .bsc-main-container {
    width: 100%;
    padding: 0 24px;
}

.broad-section-of-courses .bsc-main-container h1 {
    margin-bottom: 12px;
}

.broad-section-of-courses .bsc-main-container p {
    margin-bottom: 24px;
    font-size: 19px;
}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul .bsc-ul-list-item {
    float: left;
}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul .bsc-ul-list-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 6px 12px;
    color: #6a6f73;
    font-weight: 700;
}

.broad-section-of-courses .bsc-main-container .bsc-nav-bar .bsc-ul .bsc-ul-list-item a:hover {
    cursor: pointer;
    color: #2d2f31;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container {
    border: 1px solid black;
    padding: 24px;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container h4 {
    font-weight: 700;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container p {
    font-size: 16px;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container a {
    padding: 12px;
    font-weight: 700;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container {
    margin-top: 48px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card {
    flex: 19%;
    width: 19%;
    margin-right: 1%;
    position: relative;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card:hover {
    cursor: pointer;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .card-img-top:hover {
    opacity: 0.5;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card:hover .main-model-1 {
    display: block;

}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .card-text {
    display: flex;
    flex-direction: column;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .card-text .type {
    background-color: yellow;
    padding: 2px 5px;
    font-weight: 500;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 {
    display: none;
    z-index: 1000;
    padding: 24px;
    top: -100px;
    left: 108%;
    background-color: white;
    position: absolute;
    width: 150%;
    border: 1px solid black;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 ul {
    list-style-type: '\2713';
    margin: 0;
    padding: 0;
    list-style-position: outside;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 ul li {
    padding: 0 0 0 24px;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 .add-heart {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 .add-heart .add {
    padding: 12px 48px;
    background-color: #A435F0;
    color: white;
    font-weight: 600;
}

.broad-section-of-courses .bsc-main-container .bsc-sub-container .python-container .slider-container .card .main-model-1 .add-heart .heart {
    padding: 12px;
    border: 1px solid black;
    border-radius: 50%;
}

/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */
























/* feedback section */
.feedback-section {
    margin: 100px 0;
    padding: 0 24px;
}

.feedback-section h3 {
    margin-bottom: 24px;
}

.feedback-section .main-card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-section .main-card-container .card-container {
    width: 24%;
    border: 1px solid black;
    padding: 24px;
}

.feedback-section .main-card-container .card-container .text-section {
    height: 80%;
    border-bottom: 1px solid black;
    padding-bottom: 24px;
}

.feedback-section .main-card-container .card-container .text-section img {
    margin-bottom: 12px;
}

.feedback-section .main-card-container .card-container .text-section .text-by {
    height: 20%;
}

.feedback-section .main-card-container .card-container .text-section .text-by .short-text {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.feedback-section .main-card-container .card-container .video-text-section {
    padding-top: 24px;
    color: blue;
    height: 20%;
}

.feedback-section .main-card-container .card-container .video-text-section div {
    display: inline;
}

.feedback-section .main-card-container .card-container .video-text-section span {
    font-weight: 600;
}





















































/* Learners are viewing */
.learners-viewing-container {
    width: 100%;
    height: auto;
    margin: 50px 0px;
    padding: 24px;
}

.learners-viewing-container h3 {
    margin-bottom: 24px;
}

.learners-viewing-container .main-card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.learners-viewing-container .main-card-container .card {
    flex: 19%;
    width: 19%;
    margin-right: 1%;
    position: relative;
}

.learners-viewing-container .main-card-container .card:hover {
    cursor: pointer;
}

.learners-viewing-container .main-card-container .card:hover .main-model-1 {
    display: block;
}

.learners-viewing-container .main-card-container .card .card-body .card-text {
    display: flex;
    flex-direction: column;
}

.learners-viewing-container .main-card-container .card .card-body .card-text .type {
    background-color: yellow;
    padding: 2px 5px;
    font-weight: 500;
}

.learners-viewing-container .main-card-container .card .main-model-1 {
    display: none;
    z-index: 1000;
    padding: 24px;
    top: -100px;
    left: 108%;
    background-color: white;
    position: absolute;
    width: 150%;
    border: 1px solid black;
}

.learners-viewing-container .main-card-container .card .main-model-1 ul {
    list-style-type: '\2713';
    margin: 0;
    padding: 0;
    list-style-position: outside;
}

.learners-viewing-container .main-card-container .card .main-model-1 ul li {
    padding: 0 0 0 24px;
}

.learners-viewing-container .main-card-container .card .main-model-1 .add-heart {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.learners-viewing-container .main-card-container .card .main-model-1 .add-heart .add {
    padding: 12px 48px;
    background-color: #A435F0;
    color: white;
    font-weight: 600;
}

.learners-viewing-container .main-card-container .card .main-model-1 .add-heart .heart {
    padding: 12px;
    border: 1px solid black;
    border-radius: 50%;
}

/* .learners-viewing-container .main-card-container .card .main-model-2{
    display: none;
    z-index: 1000;
    padding: 24px;
    top: -50px;
    right: 108%;
    background-color: white;
    position: absolute;
    width: 100%;
    border: 1px solid black;
}
.learners-viewing-container .main-card-container .card .main-model-2 ul{
    list-style-type: '\2713';
    margin: 0;
    padding: 0;
    list-style-position: outside;
}
.learners-viewing-container .main-card-container .card .main-model-2 ul li{
    padding: 0 0 0 24px;
} */
/* .learners-viewing-container .main-card-container .card-container{
    width: 19%;
    border: 1px solid black;
    padding: 24px;
    flex: 19%;
}
.learners-viewing-container .main-card-container .card-container .image-section{
    height: 40%;
    background-color: red;
    border: 1px solid black;
}
.learners-viewing-container .main-card-container .card-container .text-section{
    height: 60%;
    background-color: blue;
} */























/* Top categories */

.top-categories-container {
    margin: 50px 24px;
    width: 100%;
}

.top-categories-container h3 {
    margin-bottom: 24px;
}

.top-categories-container .top-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-categories-container .top-categories .single-category:hover {
    cursor: pointer;
}

.top-categories-container .top-categories .single-category img {
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: transform .2s;
}

.top-categories-container .top-categories .single-category img:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.top-categories-container .top-categories .single-category .category-title {
    margin-bottom: 12px;
}

@media screen and (max-width:600px) {
    .top-categories-container .top-categories {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .top-categories-container .top-categories .single-category img {
        display: none;
    }

    .top-categories-container .top-categories .single-category .category-title {
        border-radius: 20px;
        border: 1px solid black;
        padding: 5px 10px;
    }
}





















/* Featured topics by category */
.topics-by-category {
    width: 100%;
    margin: 50px 0;
    padding: 0 24px;
}

.topics-by-category h3 {
    margin-bottom: 24px;
}

.topics-by-category .row .col-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topics-by-category .row .col-3 ul li {
    margin-bottom: 24px;
}

.topics-by-category .row .col-3 ul li .btn-explore {
    padding: 12px;
    cursor: pointer;
    border: 1px solid black;
    font-weight: 700;
}

.topics-by-category .row .col-3 ul li .btn-explore:hover {
    background-color: rgba(23, 57, 83, .12);
}

.topics-by-category .row .col-3 ul li div span {
    display: block;
}

.topics-by-category .row .col-3 ul li div a {
    font-weight: 700;
    color: #5624d0;
}

.topics-by-category .row .col-3 ul li div a:hover {
    color: #401b9c;
}


























/* bussiness section */
.udemy-bussiness {
    width: 100%;
    margin: 50px 0;
    padding: 0 15%;
}

.udemy-bussiness .main-container {
    display: grid;
    grid-template-columns: auto auto;
}

.udemy-bussiness .main-container .text-container {
    padding: 12px 0;
}

.udemy-bussiness .main-container .text-container img,
.udemy-bussiness .main-container .text-container h2,
.udemy-bussiness .main-container .text-container ul,
.udemy-bussiness .main-container .text-container ul li {
    margin-bottom: 12px;
}

.udemy-bussiness .main-container .text-container ul li {
    list-style-position: outside;
    font-size: 18px;
}

.udemy-bussiness .main-container .getudemy-learnmore {
    display: inline-block;
    margin-top: 24px;
}

.udemy-bussiness .main-container .getudemy-learnmore span {
    padding: 12px;
    font-weight: 700;
    border: 1px solid black;
}

.udemy-bussiness .main-container .getudemy-learnmore span:hover {
    cursor: pointer;
}


.udemy-bussiness .main-container .getudemy-learnmore .get-udemy {
    color: white;
    background-color: black;
}

.udemy-bussiness .main-container .getudemy-learnmore .get-udemy:hover {
    background-color: #3e4143;
}

.udemy-bussiness .main-container .getudemy-learnmore .learn-more:hover {
    background-color: rgba(23, 57, 83, .12);
}



























/* stories section */
.stories-container {
    width: 100%;
    margin: 100px 0;
    padding: 0 20%;
}

.stories-container .swiper {
    border: 1px solid black;
    height: 320px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide {
    padding: 24px;
    height: 320px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .text-section img {
    margin-bottom: 12px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .text-section a {
    font-weight: 700;
    color: #5624d0;
    position: absolute;
    bottom: 24px;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .text-section a:hover {
    cursor: pointer;
    color: #A435F0;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .image-section {
    text-align: center;
}

.stories-container .swiper .swiper-wrapper .swiper-slide .row .image-section img {
    border-radius: 50%;
    margin-bottom: 24px;
}

.stories-container .view-more-stories {
    text-align: center;
    font-weight: 700;
    margin-top: 24px;
    color: #5624d0;
}

.stories-container .view-more-stories a {
    color: #5624d0;
}

.stories-container .view-more-stories:hover,
.stories-container .view-more-stories a:hover {
    color: #A435F0;
    cursor: pointer;
}

























/*become a instrunctor*/
.instruction {
    width: 100%;
    margin: 100px 0;
    padding: 0 15%;
}

.instruction .main-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.instruction .main-container .text-container {
    padding: 100px;
}

.instruction .main-container .text-container h2 {
    margin-bottom: 12px;
    font-weight: 700;
}

.instruction .main-container .text-container p {
    font-size: 19px;
}

.instruction .main-container .text-container span {
    display: inline-block;
    margin-top: 24px;
    padding: 12px;
    font-weight: 700;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.instruction .main-container .text-container span:hover {
    cursor: pointer;
    background-color: #3e4143;
}






























/* for images content to fit */
/* footer section */
.footer-section {
    background-color: black;
    width: 100%;
    height: 300px;
    padding: 24px 48px;
}

.footer-section .row-1 {
    width: 100%;
    color: white;
}

.footer-section .row-1 .column-1,
.column-2,
.column-3 {
    float: left;
    width: 20%;
}

.footer-section .row-1 .column-1 ul,
.column-2 ul,
.column-3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section .row-1 .column-1 ul li,
.column-2 ul li,
.column-3 ul li {
    display: block;
}

.footer-section .row-1 .column-1 ul li:hover,
.column-2 ul li:hover,
.column-3 ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-section .row-1 .column-1 ul li a,
.column-2 ul li a,
.column-3 ul li a {
    text-decoration: none;
    color: white;
}

.footer-section .row-1 .column-4 {
    float: left;
    width: 40%;
}

.footer-section .row-1 .column-4:hover {
    cursor: pointer;
}

.footer-section .row-1 .column-4 .column-container {
    border: 1px solid white;
    padding: 12px;
}

.footer-section .row-1 .column-4 .column-container div {
    display: inline-block;
}

.row-1::after {
    content: "";
    display: table;
    clear: both;
}

.footer-section .row-2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-section .row-2 {
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-section .row-2 .column-left:hover {
    cursor: pointer;
}