*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-5 {
    padding: 6px 24px;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.a-header-5 {
    color: black !important;
}

.a-header-5:hover,
a.active{
        color: #401b9c !important;
    text-decoration: none !important;
}