* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* careers */
.career-btn {
    color: white !important;
    padding: 11px 12px;
    background-color: #5624d0;
    border: none;
}

.career-btn:hover {
    background-color: #4d20ba;
    text-decoration: none !important;
}

.career-link {
    color: #5624d0;
    font-size: 16px;
}

.career-link:hover {
    color: #401b9c;
    text-decoration: underline;
}

.revolutionize {
    width: 100%;
    /* margin: 0 0 5% 0; */
    padding: 10% 10% 0 10%;
}

.video-summery-container {
    margin-bottom: 24px;
}

.revolutionize-container .video-summery-container {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
}

.summery-container h1 {
    font-size: 64px;
    line-height: 68px;
    font-weight: 700;
}

.summery-container .video-summery {
    font-size: 18px;
}

.career-opportunities-text {
    padding: 16px 0;
    font-size: 18px;
    line-height: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.like-navbar {
    margin-bottom: 5%;
    position: sticky;
    top: -1px;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: hsla(0, 0%, 100%, .9);
}

.like-navbar-container {
    padding: 24px;
}

.like-navbar-container .list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.like-navbar-container .career-sticky-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.career-sticky-nav a {
    color: black;
}

.career-sticky-nav a:hover {
    color: #5624d0;
    text-decoration: underline;
}

#why-udemy {
    padding: 0 10%;
    /* z-index: -1; */
}

.why-udemy-sub-div-1 h1 {
    text-align: center;
    font-size: 64px;
    line-height: 72px;
}

.why-udemy-sub-div-1 .udemy-section-desc {
    max-width: 700px;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
}

.why-udemy-sub-div-1 .udemy-section-link {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #5624d0;
}

.why-udemy-sub-div-1 .udemy-section-link:hover {
    color: #401b9c;
}

.why-udemy-sub-div-2,
.meet-our-teams-sub-div-2 {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1.33%;
}

.why-udemy-image-container .why-udemy-image-desc {
    margin-top: 16px;
    border-left: 2px solid #a435f0;
    padding: 0 12px;
}

.why-udemy-sub-div-3 {
    margin: 5% 0;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

/* .why-udemy-sub-div-3 .row {
    padding: 0;
    margin: 0;
} */

.why-udemy-sub-div-3 .image-desc-container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

a.here-link {
    color: #5624d0;
    text-decoration: underline;
    font-weight: 700;
}

a.here-link:hover {
    color: #401b9c;
}

.why-udemy-banner-desc-container {
    padding: 0 10%;
    margin-top: 36px;
    font-size: 18px;
}

.why-udemy-banner-desc-container .row {
    padding: 0;
    margin: 0;
}

.why-udemy-banner-desc {
    margin-top: 16px;
    border-left: 2px solid #a435f0;
    padding: 0 12px;
}

.employee-stories {
    margin: 10% 0;
    padding: 0 10%;
}

.employee-stories-header-container .employee-stories-header {
    text-align: center;
    font-size: 64px;
    line-height: 72px;
}

.employee-stories-header-container .employee-stories-desc {
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}

.employee-slider-desc {
    margin: auto;
}

.employee-slider-quote {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    font-style: italic;
}

.employee-slider-name {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.employee-slider-title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}

.employee-stories-swiper-container .row {
    padding: 0;
    margin: 0;
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

.slideshow-container .swiper-slide {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#meet-our-teams,
#perks-and-benefits,
.our-awards,
#our-locations,
.our-current-opportunities,
.featured-blogs,
.equal-opp-section {
    margin: 10% 0;
    padding: 0 10%;
}

.meet-our-teams-header-container .meet-our-teams-header,
.perks-and-benefits-header-container .perks-and-benefits-header,
.our-awards-header-container .our-awards-header,
.our-locations-header-container .our-locations-header,
.featured-blogs-header-container .featured-blogs-header {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    font-family: "Suisse Works"
        Georgia Times "Times New Roman"
        serif;
}

.meet-our-teams-header-container .meet-our-teams-desc,
.perks-and-benefits-header-container .perks-and-benefits-header-desc,
.our-awards-header-container .our-awards-header-desc,
.our-locations-header-container .our-locations-header-desc {
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;

}

.meet-our-teams-image-container .meet-our-teams-image-desc {
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.meet-our-teams-image-link {
    margin: 16px 0;
}

.perks-and-benefits-sub-div-2 {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;
}

.perks-and-benefits-roles-container {
    border-top: 1px solid black;
    padding: 12px 0;
}

.our-awards-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.our-awards-image-container .our-awards-image {
    max-height: 100px;
}

.our-locations-sub-div-2 {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.our-locations-sub-div-3 {
    margin: 5% 0;
    padding: 0 5%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.our-current-opportunities-header {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.our-current-opportunities-sub-div-3 {
    margin: 5% 0;
}

.jobs .jobs-list,
.jobs-title-container .jobs-postings {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jobs-title-container:last-child {
    border-bottom: 1px solid black;
}

.jobs-title-container {
    border-top: 1px solid black;
    padding: 20px 0;
}

.jobs-title-container a.jobs-title {
    color: black;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
    line-height: 50px;
}

.jobs-postings .jobs-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.jobs-postings .jobs-link:hover {
    text-decoration: none;
}

.jobs-link div {
    font-size: 20px;
    line-height: 2;
}

.jobs-link .jobs-position {
    color: #5624d0;
}

.jobs-link .jobs-position:hover {
    color: #401b9c;
}

.jobs-link .jobs-location {
    color: black;
}

.featured-blogs-sub-div-2 {
    margin: 5% 0;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    align-items: center;
}

.featured-blogs-image-container .image-desc {
    padding: 16px;
    font-size: 18px;
}

.image-desc a {
    color: #5624d0;
    text-decoration: underline;
}

.image-desc a:hover {
    color: #401b9c;
}

.equal-opp-copy p {
    text-align: center;
    font-size: 14px;
}

.equal-opp-copy p span {
    font-weight: 400;
}

.equal-opp-copy p a {
    color: #5624d0;
}

.equal-opp-copy p a:hover {
    color: #401b9c;
}

.equal-opp-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

.equal-opp-image a {
    width: 100px;
}

.equal-opp-image-desc {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.connect-with-us {
    margin: 10% 0 20px 0;
    padding: 0 10%;
}

.connect-with-us-container,
.connect-with-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.connect-with-us-header {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

.connect-with-us-container a {
    font-size: 16px;
}

.connect-with-us a div {
    padding: 0 28px;
    height: 40px;
    object-fit: cover;
    overflow: hidden;
    filter: grayscale(100%) brightness(0) opacity(42%);
    transition: all .5s ease;
}

.connect-with-us-container img {
    height: 100%;
    width: 100%;
}
.form-group button{
    width: 100%;
}
@media screen and (max-width:1200px) {
    .perks-and-benefits-sub-div-2 {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 1%;
    }

    .why-udemy-sub-div-2 {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 2%;
    }
}

@media screen and (max-width:992px) {
    .perks-and-benefits-sub-div-2 {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap: 1.33%;
    }
}

@media screen and (max-width:800px) {

    .revolutionize-container .video-summery-container,
    .why-udemy-sub-div-3 {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2%;
        justify-content: start;
        align-items: start;
    }

    .why-udemy-sub-div-3 {
        margin: 5% 0;
    }
}

@media screen and (max-width:780px) {
    .like-navbar {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .why-udemy-sub-div-2 {
            display: grid;
            grid-template-columns: 100%;
            row-gap: 2%;
        }
                .meet-our-teams-sub-div-2 {
                    display: grid;
                    grid-template-columns: 100%;
                    /* row-gap: 2%; */
                }
                                .perks-and-benefits-sub-div-2 {
                                    display: grid;
                                    grid-template-columns: 49% 49%;
                                    gap: 2%;
                                }
}

@media screen and (max-width:600px) {
    .our-locations-sub-div-2 {
            display: grid;
            grid-template-columns: 100%;
            row-gap: 2%;
        }
                .jobs-postings .jobs-link {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    flex-wrap: nowrap;
                }
                                .featured-blogs-sub-div-2 {
                                    margin: 5% 0;
                                    display: grid;
                                    grid-template-columns: 100%;
                                    justify-content: start;
                                    align-items: start;
                                }
                                                                .connect-with-us-container {
                                                                    display: flex;
                                                                    flex-direction: column;
                                                                    justify-content: center;
                                                                    align-items: center;
                                                                }
}